{% extends "base.html" %}

{% block newArticle %}

<section class="section">
    <div class="container box">
        <div class="columns">
            <div class="column is-4">
                <h2 class="title is-4">New Article</h2>
            </div>

            <div class="column is-4">
                <form class="form">
                    <label class="label" for="article-title">Title</label>
                    <input class="input" type="text" name="article-title">
                    <br><br>
                </form>
                <textarea
                  type="text" rows="8" class="textarea is-fluid"
                  placeholder="Write something..."></textarea>
            </div>
        </div>
        <div class="has-text-centered">
            <button class="button is-info" id="post-button" onclick="showData()">Post</button>
        </div>
    </div>

</section>

<script src="/static/js/nicEdit-latest.js"></script>
<script type="text/javascript">
    bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
</script>

{% endblock %}