{% extends "base.html" %}

{% block dashboard %}
<section class="section">
    <div class="section has-text-centered">
        <a href="{{ url_for('new') }}">
            <button class="button is-success subtitle is-4">New Post</button>
        </a>
    </div>
    <div class="container">
        <div class="columns has-text-centered box">
            <div class="column">
                <div class="subtitle is-4">
                    Posts you've written
                    <div class="subtitle is-3">
                        21
                    </div>
                </div>
            </div>
            <hr>
            <div class="column">
                <div class="subtitle is-4">
                    Starred Achieved
                    <div class="subtitle is-3">
                        84
                    </div>
                </div>
            </div>
            <hr>
            <div class="column">
                <div class="subtitle is-4">
                    Following
                    <div class="subtitle is-3">
                        53
                    </div>
                </div>
            </div>
        </div>

        <div class="section is-fluid">
            <div class="columns has-text-centered is-mobile">
                <div class="column">
                    <div class="subtitle is-4">
                        <button class="button has-text-info is-outlined">
                            Articles
                        </button>
                    </div>
                </div>

                <div class="column">
                    <div class="subtitle is-4">
                        <button class="button has-text-info is-outlined">
                            Offer feedback!
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}