{% extends "base.html" %}
{% block profile %}

<section class="section">
    <div class="container">
        <img src="/static/img/bike.jpeg" style="max-height: 256px; max-width: 256px;">
        <div class="box">
            <p class="subtitle is-3 has-text-grey">
                Roshan Sharma / <span class="has-text-info">@auctifer</span>
            </p>
            <p class="subtitle is-6">
                This is some real nice bio!
            </p>
        </div>
    </div>
</section>

{% endblock %}
